body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  padding: 4px 4px 4px 4px;
  background-color: rgb(12, 12, 12);
  color: rgb(255, 255, 255);
}

.centered {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
